<nav class="navbar navbar-light bg-light"> 
  
  <a class="navbar-brand" [routerLink]="['/registrate']" >Registrate</a>  
  <a class="navbar-brand" [routerLink]="['/add/magazine/1']" *ngIf="userLogged">Add magazine</a> 
  <a class="navbar-brand" [routerLink]="['/admin/confirmMagazine']" *ngIf="userAdmin">Admin - get task</a> 
  <a class="navbar-brand" [routerLink]="['/login']" *ngIf="!userLogged2">Login</a>  
  <a class="navbar-brand" (click)="logout()" *ngIf="userLogged2">Sign out</a>  
</nav>
<router-outlet></router-outlet>