<nav class="navbar navbar-light bg-light"> 
  
  <a class="navbar-brand" [routerLink]="['/registrate']" >Registrate</a>  
  <a class="navbar-brand" [routerLink]="['/view-magazines']">View all magazines</a>  
  <a class="navbar-brand" [routerLink]="['/add/magazine/1']" *ngIf="userEditor">Add magazine</a> 
  <a class="navbar-brand" [routerLink]="['/admin/confirmMagazine']" *ngIf="userAdmin">Admin - get task</a> 
  <a class="navbar-brand" [routerLink]="['/tasks']" *ngIf="userLogged || userEditor">Task list</a>
  <a class="navbar-brand" [routerLink]="['/login']" *ngIf="!logged">Login</a>  
  <a class="navbar-brand" (click)="logout()" *ngIf="logged">Log out</a>  
</nav>
<router-outlet></router-outlet>