
<div class="col-lg-4">
    <a (click)="download()" >-----> Preuzmi fajl <-----</a>
</div>


<form #f="ngForm" (ngSubmit)="onSubmit(f.value, f)" ngNativeValidate>

  <div *ngFor="let field of formFields" >
      <div class="col-lg-4">
          <label for={{field.id}}>{{field.label}}</label>
      </div>
      <div class="col-lg-5">
      <input type="text" name={{field.id}} ngModel  *ngIf="field.type.name=='string' && field.id!='password'" >
      <input type="password" name={{field.id}} ngModel  *ngIf="field.type.name=='string' && field.id=='password'" >
      <input type="checkbox" name={{field.id}} ngModel  *ngIf="field.type.name=='boolean'">
      <input type="number" name={{field.id}} ngModel  *ngIf="field.type.name=='long'">
      <select name="field.id" *ngIf="field.type.name=='enum'">
        <option *ngFor="let val of enumValues" value={{val}}>
          {{field.type.values[val]}}
        </option>
      </select>
    </div>
  </div>
  
  <div class="col-lg-1">
      <input type="submit" class="btn btn-success form-control" value="Potvrdi">
  </div>
</form>
