
 <div class="col-lg-4"><label for="comment">Komentar urednika:</label></div>
 <div class="col-lg-5">
     <!-- <input type="text" class="form-control" name="abstract" [(ngModel)]="articleData.articleAbstract" #abstract="ngModel"
     [ngClass]="{ 'is-invalid': f.submitted && abstract.invalid }" required /> -->
     <textarea rows="3" class="form-control" name="comment" >{{update.comment}}
     </textarea>
 </div>



<!-- <p class="text-center">New article</p> -->
<form #f="ngForm" (ngSubmit)="f.form.valid && onSubmit(f.value, f)" novalidate>
  
  <div *ngFor="let field of formFields" >
    <!-- za input type text-->

    <div class="form-group row" *ngIf="field.type.name=='string' && field.id!='password' && field.id!='apstrakt'
    && field.id!='kljucniPojmovi' && field.id!='koautor' && field.id!='file_choose'">
        <div class="col-lg-4">
          <label for="{{field.id}}">{{field.label}}</label>
        </div>
        <div class="col-lg-5">
          <input type="text" class="form-control" name="{{field.id}}" ngModel  required />
        </div>
        
    </div>



    <div class="form-group row" *ngIf="field.type.name=='string' && field.id=='apstrakt'">
        <div class="col-lg-4">
          <label for="{{field.id}}">{{field.label}}</label>
        </div>
        <div class="col-lg-5">
            <!-- <input type="text" class="form-control" name="abstract" [(ngModel)]="articleData.articleAbstract" #abstract="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && abstract.invalid }" required /> -->
            <textarea rows="3" class="form-control" name="{{field.id}}" ngModel required>
            </textarea>
        </div>
        
    </div>

    <div class="form-group row" *ngIf="field.type.name=='long'">
        <div class="col-lg-4">
          <label for="{{field.id}}">{{field.label}}</label>
        </div>
        <div class="col-lg-5">
            <input type="number" class="form-control" name="{{field.id}}" ngModel required />     
        </div>
        
    </div>

    <div class="form-group row" *ngIf="field.type.name=='enum'">
        <div class="col-lg-4">
          <label for="{{field.id}}">{{field.label}}</label>
        </div>
        <div class="col-lg-5">
            <select  class="form-control" name="{{field.id}}" ngModel required size="{{formFieldsDto.articleScienceAreas.length}}">
                <option *ngFor="let val of formFieldsDto.articleScienceAreas" value={{val.scienceAreaId}}>
                    {{val.scienceAreaCode}} - {{val.scienceAreaName}}
                </option>
            </select>
        </div>
        
        
    </div>

    <div class="form-group row" *ngIf="field.id=='file_choose'">
        <div class="col-lg-4">
          <label for="{{field.id}}">{{field.label}}</label>
        </div>
        <div class="col-lg-5">
            <input type="file" class="form-control-file"  name="{{field.id}}" ngModel required 
            (change)="onFileUpload($event)"
            /></div>
    </div>

  </div>

    <div class="row">
        <div class="col-lg-6">

        </div>
        <div class="col-lg-3">
          <input type="submit" class="btn btn-success form-control" value="Azuriraj tekst">
        </div>
    </div>

  
</form>

<div *ngFor="let field of formFields" >

    <div class="row">
        <div class="col" *ngIf="field.id=='kljucniPojmovi'">
            <h2 class="text-center">Terms</h2>
            <div class="form-group row" >
                <div class="col-lg-4"><label for="customTerm"></label></div>
                <div class="col-lg-5"><input type="text" class="form-control" name="customTerm" [(ngModel)]="customTerm.termName" #customTerm="ngModel"
                    /></div>
                <div   class="col-lg-3">
                    <button class="btn btn-success" (click)="addCustom(customTerm)"></button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h3 class="text-center">Odabrani pojmovi</h3>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Naziv</th>
                                <th>Obrisi</th>
                            </tr>
                        </thead>
                        <tr *ngFor="let t of articleData.articleTerm">
                            <td>{{t.termName}}</td>
                            <td><button class="btn btn-danger" (click)="delete(t)">Obrisi</button></td>
                        </tr>
                    </table>
                </div>
                <div class="col">
                    <h3 class="text-center">Odaberi pojmove:</h3>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Naziv</th>
                                <th>Dodaj</th>
                            </tr>
                        </thead>
                        <tr *ngFor="let term of formFieldsDto.articleTerms">
                            <td>{{term.termName}}</td>
                            <td><button class="btn btn-info" (click)="add(term)">Dodaj</button></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col" *ngIf="field.id=='koautor'">
            <h2 class="text-center">Koautori</h2>
            <div class="row">
                <div class="col-lg-5">
                    <button class="btn btn-info" (click)="activeForm = 'custom'">Dodaj svog:</button>
                </div>
                <div class="col-lg-2"></div>
                <div class="col-lg-5" >
                    <button class="btn btn-info" (click)="activeForm = 'existing'">Dodaj postojeceg:</button>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <h3 class="text-center">Odabrani koautori:</h3>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Naziv</th>
                                <th>Obrisi</th>
                            </tr>
                        </thead>
                        <tr *ngFor="let c of articleData.articleCoAuthors">
                            <td>{{c.firstName}} {{c.lastName}}</td>
                            <td><button class="btn btn-danger" (click)="deleteCoauthor(c)">Obrisi</button></td>
                        </tr>
                    </table>
                </div>
                <div class="col-lg-6" *ngIf="activeForm === 'existing'">
                    <h3 class="text-center">Odaberi koautore</h3>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Naziv</th>
                                <th>Dodaj</th>
                            </tr>
                        </thead>
                        <tr *ngFor="let coauthor of formFieldsDto.coAuthors">
                            <td>{{coauthor.firstName}} {{coauthor.lastName}}</td>
                            <td><button class="btn btn-info" (click)="addExisting(coauthor)">Dodaj</button></td>
                        </tr>
                    </table>
                </div>
                <div class="col-lg-6" *ngIf="activeForm === 'custom'">
                    <h3 class="text-center">Add coauthor</h3>
                    <form #f="ngForm" (ngSubmit)="f.form.valid && addCustomCouathor(f.value, f)" novalidate>
                        <div class="form-group">
                          <label for="customFirstName">Ime:</label>
                          <input type="text" class="form-control" name="customFirstName" [(ngModel)]="customUser.firstName" #customFirstName="ngModel"
                          [ngClass]="{ 'is-invalid': f.submitted && customFirstName.invalid }" required>
                          <div  *ngIf="f.submitted && customFirstName.invalid" class="text-danger">
                            <div *ngIf="customFirstName.errors.required">First name is required</div>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="customLastName">Prezime:</label>
                          <input type="text" class="form-control" name="customLastName" [(ngModel)]="customUser.lastName" #customLastName="ngModel"
                          [ngClass]="{ 'is-invalid': f.submitted && customLastName.invalid }" required >
                          <div  *ngIf="f.submitted && customLastName.invalid" class="text-danger">
                            <div *ngIf="customLastName.errors.required">Last name is required</div>
                          </div>
                        </div>
                        <div class="form-group">
                            <label for="customEmail">Email:</label>
                            <input type="email" class="form-control" name="customEmail" [(ngModel)]="customUser.email" #customEmail="ngModel"
                            [ngClass]="{ 'is-invalid': f.submitted && customEmail.invalid }" required >
                            <div  *ngIf="f.submitted && customEmail.invalid" class="text-danger">
                                <div *ngIf="customEmail.errors.required">Email is required</div>
                                <!-- <div *ngIf="customEmail.errors.typeMismatch">Email pattern required</div> -->
                            </div>
                          </div>
                        <div class="form-group">
                           <label for="customCity">Grad:</label>
                            <input type="text" class="form-control" name="customCity" [(ngModel)]="customUser.city" #customCity="ngModel"
                            [ngClass]="{ 'is-invalid': f.submitted && customCity.invalid }" required >
                            <div  *ngIf="f.submitted && customCity.invalid" class="text-danger">
                                <div *ngIf="customCity.errors.required">City is required</div>
                              </div>
                        </div>
                        <div class="form-group">
                            <label for="customCountry">Drzava:</label>
                            <input type="text" class="form-control" name="customCountry" [(ngModel)]="customUser.country" #customCountry="ngModel"
                            [ngClass]="{ 'is-invalid': f.submitted && customCountry.invalid }" required >
                            <div  *ngIf="f.submitted && customCountry.invalid" class="text-danger">
                                <div *ngIf="customCountry.errors.required">Country is required</div>
                              </div>
                        </div>
                        <input type="submit" class="btn btn-success form-control" value="Dodaj koautora">
                      </form>
                </div>
            </div>
        </div>
    </div>
</div>
    

