<div>
  <form #f="ngForm" (ngSubmit)="onSubmit(f.value, f)" ngNativeValidate>
  
    <div *ngFor="let field of formFields" >
        <label for={{field.id}}>{{field.label}}</label>
        <select name="field.id" *ngIf="field.type.name=='enum'" [(ngModel)]="field1">
          <option *ngFor="let val of enumValues" value={{val}}>
            {{field.type.values[val]}}
          </option>
        </select>
        <select name="field.id" *ngIf="field.type.name=='enum'" [(ngModel)]="field2">
          <option *ngFor="let val of enumValues2" value={{val}}>
            {{field.type.values[val]}}
          </option>
        </select>
        <select name="field.id" *ngIf="field.type.name=='enum'" [(ngModel)]="field3">
          <option *ngFor="let val of enumValues3" value={{val}}>
            {{field.type.values[val]}}
          </option>
        </select>
        <select name="field.id" *ngIf="field.type.name=='enum'" [(ngModel)]="field4">
          <option *ngFor="let val of enumValues4" value={{val}}>
            {{field.type.values[val]}}
          </option>
        </select>
        
    </div>
    
    
    <input type="submit">
  </form>
  
  <button (click)="getTasks()">Get tasks</button>
</div>
